dify/Fashion Assistant.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Fashion Assistant 2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.0@beafb5a726eda839a1839f61a0456ae7e068c98624c53f59b07be9a71fbf72da
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1779016339078-source-1779017116563-target
      selected: false
      source: '1779016339078'
      sourceHandle: source
      target: '1779017116563'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779017116563-true-17790171832500-target
      selected: false
      source: '1779017116563'
      sourceHandle: 'true'
      target: '17790171832500'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17790171832500-source-17790172684210-target
      selected: false
      source: '17790171832500'
      sourceHandle: source
      target: '17790172684210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 17790172735010-source-17790172806940-target
      selected: false
      source: '17790172735010'
      sourceHandle: source
      target: '17790172806940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779017116563-false-1779019995070-target
      selected: false
      source: '1779017116563'
      sourceHandle: 'false'
      target: '1779019995070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1779019995070-source-1779020344366-target
      selected: false
      source: '1779019995070'
      sourceHandle: source
      target: '1779020344366'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779020344366-true-1779020494470-target
      selected: false
      source: '1779020344366'
      sourceHandle: 'true'
      target: '1779020494470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17790212940510-source-1779021263446-target
      selected: false
      source: '17790212940510'
      sourceHandle: source
      target: '1779021263446'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1779020344366-e4f6f6f4-1f8b-40e5-9faa-3a37c514f05b-1779021499005-target
      selected: false
      source: '1779020344366'
      sourceHandle: e4f6f6f4-1f8b-40e5-9faa-3a37c514f05b
      target: '1779021499005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779021499005-true-17790212940510-target
      selected: false
      source: '1779021499005'
      sourceHandle: 'true'
      target: '17790212940510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779021499005-false-1779021564741-target
      selected: false
      source: '1779021499005'
      sourceHandle: 'false'
      target: '1779021564741'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779020494470-source-1779089239942-target
      selected: false
      source: '1779020494470'
      sourceHandle: source
      target: '1779089239942'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779089239942-source-17790205730220-target
      selected: false
      source: '1779089239942'
      sourceHandle: source
      target: '17790205730220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779021263446-source-1779089944750-target
      selected: false
      source: '1779021263446'
      sourceHandle: source
      target: '1779089944750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779089944750-source-1779021593894-target
      selected: false
      source: '1779089944750'
      sourceHandle: source
      target: '1779021593894'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779021564741-source-17790901831740-target
      selected: false
      source: '1779021564741'
      sourceHandle: source
      target: '17790901831740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 17790901831740-source-1779021599388-target
      selected: false
      source: '17790901831740'
      sourceHandle: source
      target: '1779021599388'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779021695638-source-17790903930490-target
      selected: false
      source: '1779021695638'
      sourceHandle: source
      target: '17790903930490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 17790903930490-source-1779021999262-target
      selected: false
      source: '17790903930490'
      sourceHandle: source
      target: '1779021999262'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17790172684210-source-1779095085308-target
      selected: false
      source: '17790172684210'
      sourceHandle: source
      target: '1779095085308'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779095085308-source-1779097623988-target
      selected: false
      source: '1779095085308'
      sourceHandle: source
      target: '1779097623988'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1779097623988-source-17790172735010-target
      selected: false
      source: '1779097623988'
      sourceHandle: source
      target: '17790172735010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779020344366-ebca41ee-5611-4f8f-a14f-445a3db27df4-1779021695638-target
      selected: false
      source: '1779020344366'
      sourceHandle: ebca41ee-5611-4f8f-a14f-445a3db27df4
      target: '1779021695638'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1779020344366-false-1779104272162-target
      selected: false
      source: '1779020344366'
      sourceHandle: 'false'
      target: '1779104272162'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: nputUser I
        type: start
        variables:
        - default: ''
          hint: ''
          label: action
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: action
        - default: ''
          hint: ''
          label: session_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: session_id
        - default: ''
          hint: ''
          label: image_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: image_id
        - default: ''
          hint: ''
          label: message
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: message
        - default: ''
          hint: ''
          label: person_image_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: person_image_id
        - default: ''
          hint: ''
          label: cloth_image_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: cloth_image_id
        - default: ''
          hint: ''
          label: chat_history
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: chat_history
        - default: ''
          hint: ''
          label: last_output_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: last_output_id
        - default: ''
          hint: ''
          label: tryon_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: tryon_id
      height: 317
      id: '1779016339078'
      position:
        x: 32.89759848826799
        y: 284.629442928215
      positionAbsolute:
        x: 32.89759848826799
        y: 284.629442928215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 3f4d7c51-63a1-44bf-98b3-faa7eb2eccaa
            value: classify
            varType: string
            variable_selector:
            - '1779016339078'
            - action
          id: 'true'
          logical_operator: and
        desc: Action Router
        selected: false
        title: IF/ELSE
        type: if-else
      height: 152
      id: '1779017116563'
      position:
        x: 358.5852896570435
        y: 295.7718057400465
      positionAbsolute:
        x: 358.5852896570435
        y: 295.7718057400465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: Fetch Image for Classification
        headers: Content-Type:application/json
        isInIteration: false
        isInLoop: false
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: http://host.docker.internal:8000/api/image/{{#1779016339078.image_id#}}/preview
        variables: []
      height: 170
      id: '17790171832500'
      position:
        x: 761.4755911847453
        y: 305.629442928215
      positionAbsolute:
        x: 761.4755911847453
        y: 305.629442928215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Vision classifier
        isInIteration: false
        isInLoop: false
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7ec60333-9f64-4486-b8ae-bc3af3fca6ab
          role: system
          text: 'You are an image classification system for a fashion virtual try-on
            application.

            Your task is to analyze the provided image and determine whether it contains:

            A PERSON (full body, upper body, or portrait suitable for virtual try-on)

            A CLOTH item (any clothing item like shirt, dress, pants, jacket, etc.)

            You must respond with ONLY a valid JSON object in this exact format:

            {

            “detected_type”: “person”

            }

            OR

            {

            “detected_type”: “cloth”

            }

            Rules:

            detected_type must be exactly “person” or “cloth” (lowercase)

            Do not include any additional text, explanation, or formatting

            Respond in the same language as any text visible in the image, or English
            if no text is present.

            Output valid JSON only:

            {“detected_type": person OR cloth}'
        - id: 0f3fb9ed-7b67-4025-94ea-939b0531435c
          role: user
          text: ''
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              detected_type:
                type: string
            required:
            - detected_type
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          configs:
            detail: low
            variable_selector:
            - '17790171832500'
            - files
          enabled: true
      height: 116
      id: '17790172684210'
      position:
        x: 1065.49415522563
        y: 295.7718057400465
      positionAbsolute:
        x: 1065.49415522563
        y: 295.7718057400465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: object, arg2: object):\n    return  {\n          \
          \  \"detected_type\": arg1[\"detected_type\"],\n            \"reply\": arg2[\"\
          reply\"]\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: false
        outputs:
          detected_type:
            children: null
            type: string
          reply:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '17790172684210'
          - structured_output
          value_type: object
          variable: arg1
        - value_selector:
          - '1779095085308'
          - structured_output
          value_type: object
          variable: arg2
      height: 52
      id: '17790172735010'
      position:
        x: 1991.1260032195587
        y: 325.2999134901892
      positionAbsolute:
        x: 1991.1260032195587
        y: 325.2999134901892
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: result
        isInIteration: false
        isInLoop: false
        outputs:
        - value_selector:
          - '17790172735010'
          - detected_type
          value_type: string
          variable: detected_type
        - value_selector:
          - '17790172735010'
          - reply
          value_type: string
          variable: reply
        selected: false
        title: Output 1
        type: end
      height: 143
      id: '17790172806940'
      position:
        x: 2302.951118333012
        y: 320.1711814924865
      positionAbsolute:
        x: 2302.951118333012
        y: 320.1711814924865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Intent Classifier
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: e664e363-b403-45d8-b3fa-acbb8b667725
          role: system
          text: 'You are an intent classifier for a fashion virtual try-on system.

            Analyze the user’s message and context to determine their intent. Respond
            ONLY with valid JSON:

            {“intent”: “chat”} - General conversation, questions, greetings, if user
            wants suggestions before choosing a cloth, if user want to talks about
            fashion and what to wear before try-on

            {“intent”: “tryon”} - User wants to try on clothes (needs person_image_id
            AND cloth_image_id)

            {“intent”: “suggestion”} - User asks for fashion advice or accessory suggestions
            (needs tryon_id)

            {“intent”: “unknown”} - If non of the conditions above met, explain the
            reason in reply.

            Rules:

            If user asks “how does it look”, “what accessories”, “what should I wear”  etc
            → suggestion

            If user says “try it on”, “show me wearing this”, “let’s see” etc → tryon

            Otherwise → chat

            Respond with JSON only.

            Output format:

            {“reply”: “explain to user why in case if intention=unknown ”, “intention”:  user''s
            intention, detected_language: detect the language from user message and
            place it here like en, fa etc}'
        - id: ea409488-a394-43b4-80b2-0ddfeefe1808
          role: user
          text: 'User message: {{#1779016339078.message#}}

            Context:

            Has person image id: {{#1779016339078.person_image_id#}}

            Has cloth image id: {{#1779016339078.cloth_image_id#}}

            Has tryon result id: {{#1779016339078.tryon_id#}}

            Classify the intent.

            Response Format: JSON'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              detected_language:
                type: string
              intention:
                type: string
              reply:
                type: string
            required:
            - intention
            - detected_language
            type: object
        structured_output_enabled: true
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1779019995070'
      position:
        x: 595.3195873839014
        y: 766.1013368106305
      positionAbsolute:
        x: 595.3195873839014
        y: 766.1013368106305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: ca7384c5-7023-4909-8891-d9b90fbe5402
            value: tryon
            varType: string
            variable_selector:
            - '1779019995070'
            - structured_output
            - intention
          id: 'true'
          logical_operator: and
        - case_id: e4f6f6f4-1f8b-40e5-9faa-3a37c514f05b
          conditions:
          - comparison_operator: contains
            id: 980e6221-c34a-4842-a7b9-82d7d3167e1b
            value: suggestion
            varType: string
            variable_selector:
            - '1779019995070'
            - text
          id: e4f6f6f4-1f8b-40e5-9faa-3a37c514f05b
          logical_operator: and
        - case_id: ebca41ee-5611-4f8f-a14f-445a3db27df4
          conditions:
          - comparison_operator: is
            id: 41be823c-fd22-4b6d-8190-3d3b5e6626ac
            value: chat
            varType: object
            variable_selector:
            - '1779019995070'
            - structured_output
            - intention
          id: ebca41ee-5611-4f8f-a14f-445a3db27df4
          logical_operator: and
        desc: Intent router
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 320
      id: '1779020344366'
      position:
        x: 952.7271915892109
        y: 933.6764013617071
      positionAbsolute:
        x: 952.7271915892109
        y: 933.6764013617071
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Try-on
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 138e332c-733c-441d-a3c7-72fed0707dd2
          role: system
          text: 'You are a friendly fashion assistant. The user wants to try on clothes.

            Check if both person_image_id and cloth_image_id are provided:

            If YES:  User has already uploaded the images. Respond enthusiastically
            that you’re processing their try-on request set tryon_ready=true

            If NO: Politely ask them to upload the missing image(s), set tryon_ready=false.

            Respond naturally in the {{#1779019995070.structured_output.detected_language#}}

            Output valid JSON only:

            {“reply”: “your reply here”, “tryon_ready”: true/false}'
        - id: c01da68a-30b9-4283-9b26-81d16db9b62c
          role: user
          text: 'User message: {{#1779016339078.message#}}

            Person image id: {{#1779016339078.person_image_id#}}

            Cloth image id: {{#1779016339078.cloth_image_id#}}

            Generate response.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              reply:
                description: ''
                type: string
              tryon_ready:
                description: ''
                type: boolean
            required:
            - tryon_ready
            - reply
            type: object
        structured_output_enabled: true
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1779020494470'
      position:
        x: 1441.4124377819444
        y: 675.9522064193745
      positionAbsolute:
        x: 1441.4124377819444
        y: 675.9522064193745
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: result
        isInIteration: false
        isInLoop: false
        outputs:
        - value_selector:
          - '1779089239942'
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - '1779089239942'
          - tryon_ready
          value_type: object
          variable: tryon_ready
        - value_selector:
          - '1779019995070'
          - structured_output
          - detected_language
          value_type: object
          variable: detected_language
        selected: false
        title: Output 2
        type: end
      height: 169
      id: '17790205730220'
      position:
        x: 2104.5185637830723
        y: 622.8857037738841
      positionAbsolute:
        x: 2104.5185637830723
        y: 622.8857037738841
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 4c8a9348-a491-4630-9f89-4ee09fa0b346
          role: system
          text: "You are an expert fashion stylist. Analyze the try-on image and suggest:\n\
            Accessories (bags, jewelry, shoes, belts)\nColor combinations\nStyling\
            \ tips\nOccasion suitability\nBe specific, creative, and helpful. \nRespond\
            \ in Persian.\nOutput valid JSON:\n{“reply”: “your detailed fashion advice”,\
            \ “tryon_ready”: is always false}"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              reply:
                type: string
              tryon_ready:
                description: ''
                type: boolean
            required:
            - reply
            - tryon_ready
            type: object
        structured_output_enabled: true
        title: LLM 4
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '17790212940510'
            - files
          enabled: true
      height: 88
      id: '1779021263446'
      position:
        x: 2092.6547168069133
        y: 965.8700155911223
      positionAbsolute:
        x: 2092.6547168069133
        y: 965.8700155911223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: Fetch Image for Classification
        headers: Content-Type:application/json
        isInIteration: false
        isInLoop: false
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request (1)
        type: http-request
        url: http://host.docker.internal:8000/api/image/{{#1779016339078.tryon_id#}}/preview
        variables: []
      height: 170
      id: '17790212940510'
      position:
        x: 1744.5786073967301
        y: 862.3507381111847
      positionAbsolute:
        x: 1744.5786073967301
        y: 862.3507381111847
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: bdacb9b3-384c-4ae8-a898-e58b2eb72742
            value: ''
            varType: string
            variable_selector:
            - '1779016339078'
            - tryon_id
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 140
      id: '1779021499005'
      position:
        x: 1370.8568589878316
        y: 974.9085438061504
      positionAbsolute:
        x: 1370.8568589878316
        y: 974.9085438061504
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1779016339078'
          - message
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7988b0df-a923-445b-a51c-bf1d648d6fe0
          role: system
          text: 'The user asked for fashion suggestions but hasn’t done a try-on yet.

            Politely explain they need to try on an outfit first.

            Respond in {{#1779019995070.structured_output.detected_language#}}.

            Output JSON: {“reply”: “your message”, “tryon_ready”: is always false}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              reply:
                type: string
              tryon_ready:
                description: ''
                type: boolean
            required:
            - reply
            - tryon_ready
            type: object
        structured_output_enabled: true
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779021564741'
      position:
        x: 1768.0888386707052
        y: 1209.2281499820022
      positionAbsolute:
        x: 1768.0888386707052
        y: 1209.2281499820022
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779089944750'
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - '1779089944750'
          - tryon_ready
          value_type: boolean
          variable: tryon_ready
        - value_selector:
          - '1779019995070'
          - structured_output
          - detected_language
          value_type: object
          variable: detected_language
        selected: false
        title: Output 3
        type: end
      height: 141
      id: '1779021593894'
      position:
        x: 2724.2290901640085
        y: 1035.9128433763478
      positionAbsolute:
        x: 2724.2290901640085
        y: 1035.9128433763478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '17790901831740'
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - '17790901831740'
          - tryon_ready
          value_type: boolean
          variable: tryon_ready
        - value_selector:
          - '1779019995070'
          - structured_output
          value_type: object
          variable: structured_output
        selected: false
        title: Output 4
        type: end
      height: 141
      id: '1779021599388'
      position:
        x: 2414.49481120822
        y: 1272.6119398700441
      positionAbsolute:
        x: 2414.49481120822
        y: 1272.6119398700441
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: General Chat
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 8dabcb04-8789-449b-9340-6752e7e67ead
          role: system
          text: 'You are a helpful fashion assistant for a virtual try-on system.

            Context awareness:

            If user has person_image_id and cloth_image_id: Suggest they can try on
            clothes

            If user has tryon_id: Reference their previous try-on

            Otherwise: Have a friendly conversation about fashion and tell user that
            you can upload your cloth and your upper body image (based on availability
            of person image and cloth image in user message)

            Respond naturally in {{#1779019995070.structured_output.detected_language#}}

            Output valid JSON:

            {“reply”: “your conversational response”, “tryon_ready”: false}'
        - id: bcf051d2-05b1-4480-b11b-3c987bad9de5
          role: user
          text: 'User message: {{#1779016339078.message#}}

            Context:

            Person image: {{#1779016339078.person_image_id#}}

            Cloth image: {{#1779016339078.cloth_image_id#}}

            Tryon result: {{#1779016339078.tryon_id#}}

            Chat history: {{#1779016339078.chat_history#}}

            Respond appropriately.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              reply:
                type: string
              tryon_ready:
                description: ''
                type: boolean
            required:
            - reply
            - tryon_ready
            type: object
        structured_output_enabled: true
        title: LLM 6
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1779021695638'
      position:
        x: 1392.1921429722468
        y: 1338.26774854304
      positionAbsolute:
        x: 1392.1921429722468
        y: 1338.26774854304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '17790903930490'
          - reply
          value_type: string
          variable: reply
        - value_selector:
          - '17790903930490'
          - tryon_ready
          value_type: boolean
          variable: tryon_ready
        - value_selector:
          - '1779019995070'
          - structured_output
          - detected_language
          value_type: object
          variable: structured_output
        selected: false
        title: Output 5
        type: end
      height: 141
      id: '1779021999262'
      position:
        x: 2029.3466872116821
        y: 1417.2742301147862
      positionAbsolute:
        x: 2029.3466872116821
        y: 1417.2742301147862
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: object):\n    return {\n            \"reply\": arg1[\"\
          reply\"],\n            \"tryon_ready\": arg1[\"tryon_ready\"]\n    }\n"
        code_language: python3
        outputs:
          reply:
            children: null
            type: string
          tryon_ready:
            children: null
            type: boolean
        selected: false
        title: Code 2
        type: code
        variables:
        - value_selector:
          - '1779020494470'
          - structured_output
          value_type: object
          variable: arg1
      height: 52
      id: '1779089239942'
      position:
        x: 1733.5281326176241
        y: 622.8857037738841
      positionAbsolute:
        x: 1733.5281326176241
        y: 622.8857037738841
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: object):\n    return {\n            \"reply\": arg1[\"\
          reply\"],\n            \"tryon_ready\": arg1[\"tryon_ready\"]\n    }\n"
        code_language: python3
        outputs:
          reply:
            children: null
            type: string
          tryon_ready:
            children: null
            type: boolean
        selected: false
        title: Code 3
        type: code
        variables:
        - value_selector:
          - '1779021263446'
          - structured_output
          value_type: object
          variable: arg1
      height: 52
      id: '1779089944750'
      position:
        x: 2401.7584027649805
        y: 997.1520948636565
      positionAbsolute:
        x: 2401.7584027649805
        y: 997.1520948636565
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: object):\n    return {\n            \"reply\": arg1[\"\
          reply\"],\n            \"tryon_ready\": arg1[\"tryon_ready\"]\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: false
        outputs:
          reply:
            children: null
            type: string
          tryon_ready:
            children: null
            type: boolean
        selected: false
        title: Code 4
        type: code
        variables:
        - value_selector:
          - '1779021564741'
          - structured_output
          value_type: object
          variable: arg1
      height: 52
      id: '17790901831740'
      position:
        x: 2084.439940149546
        y: 1209.2281499820022
      positionAbsolute:
        x: 2084.439940149546
        y: 1209.2281499820022
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: object):\n    return {\n            \"reply\": arg1[\"\
          reply\"],\n            \"tryon_ready\": arg1[\"tryon_ready\"]\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: false
        outputs:
          reply:
            children: null
            type: string
          tryon_ready:
            children: null
            type: boolean
        selected: false
        title: Code 5
        type: code
        variables:
        - value_selector:
          - '1779021695638'
          - structured_output
          value_type: object
          variable: arg1
      height: 52
      id: '17790903930490'
      position:
        x: 1711.2628928635256
        y: 1394.7853997108782
      positionAbsolute:
        x: 1711.2628928635256
        y: 1394.7853997108782
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6b8cef58-edb6-466b-9c54-60f7fdc4ce62
          role: system
          text: 'You are a helpful fashion assistant for a virtual try-on system.

            Context awareness:

            User has uploaded an image and it was classified as {{#17790172684210.structured_output.detected_type#}}

            Have a friendly conversation.

            Rules:

            If the classification is person acknowledge it AND if user doesn''t have
            cloth image id  suggest uploading cloth

            If the classification is cloth acknowledge it AND if user doesn''t have
            person image id suggest uploading person

            if both image id were available tell user that his photo or cloth is updated
            and user can try-on.

            Respond naturally in the SAME LANGUAGE as the user’s last message in chat
            history.

            speak in Persian.

            Output valid JSON:

            {“reply”: “your conversational response”}'
        - id: 98aceefb-eaa9-41d3-8bb5-e6e0ea6f63bb
          role: user
          text: 'User message: {{#1779016339078.message#}}

            Context:

            Person image: {{#1779016339078.person_image_id#}}

            Cloth image: {{#1779016339078.cloth_image_id#}}

            Tryon result: {{#1779016339078.tryon_id#}}

            Chat history: {{#1779016339078.chat_history#}}

            Respond appropriately.'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              reply:
                type: string
            required:
            - reply
            type: object
        structured_output_enabled: true
        title: LLM 7
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1779095085308'
      position:
        x: 1392.1921429722468
        y: 320.1711814924865
      positionAbsolute:
        x: 1392.1921429722468
        y: 320.1711814924865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(arg1: object, arg2: object):\n    print(f\"[DEBUG] LLM1 full\
          \ output: {arg1}\")\n    print(f\"[DEBUG] LLM1 type: {type(arg1)}\")\n \
          \   print(f\"[DEBUG] LLM1 full output: {arg2}\")\n    print(f\"[DEBUG] LLM1\
          \ type: {type(arg2)}\")\n    \n    return {\"debug1\": str(arg1), \"debug2\"\
          : str(arg2)\n    }\n"
        code_language: python3
        outputs:
          debug1:
            children: null
            type: string
          debug2:
            children: null
            type: string
        selected: false
        title: Code 6
        type: code
        variables:
        - value_selector:
          - '17790172684210'
          - structured_output
          value_type: object
          variable: arg1
        - value_selector:
          - '1779095085308'
          - structured_output
          value_type: object
          variable: arg2
      height: 52
      id: '1779097623988'
      position:
        x: 1698.9924829688193
        y: 332.5984402078526
      positionAbsolute:
        x: 1698.9924829688193
        y: 332.5984402078526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779019995070'
          - structured_output
          - reply
          value_type: object
          variable: reply
        - value_selector:
          - '1779019995070'
          - structured_output
          - intention
          value_type: object
          variable: intention
        - value_selector:
          - '1779019995070'
          - structured_output
          - detected_language
          value_type: object
          variable: detected_language
        selected: false
        title: Output 6
        type: end
      height: 141
      id: '1779104272162'
      position:
        x: 1392.1921429722468
        y: 1617.2036505458545
      positionAbsolute:
        x: 1392.1921429722468
        y: 1617.2036505458545
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: hsn
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Image
          Classification","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1779182894088'
      position:
        x: 1065.49415522563
        y: 177.30630525609283
      positionAbsolute:
        x: 1065.49415522563
        y: 177.30630525609283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Friendly
          Response About User Specific Uploads","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: ' (1)'
        type: ''
        width: 240
      height: 88
      id: '17791829520980'
      position:
        x: 1392.1921429722468
        y: 177.30630525609283
      positionAbsolute:
        x: 1392.1921429722468
        y: 177.30630525609283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Action
          Classification Chat/ File Upload","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (2)'
        type: ''
        width: 240
      height: 88
      id: '17791829974830'
      position:
        x: 358.5852896570435
        y: 185.65573411283745
      positionAbsolute:
        x: 358.5852896570435
        y: 185.65573411283745
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Chat
          Intention Classification","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (3)'
        type: ''
        width: 240
      height: 88
      id: '17791830496760'
      position:
        x: 608.6188636322673
        y: 652.1122029462871
      positionAbsolute:
        x: 608.6188636322673
        y: 652.1122029462871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Fetching
          Uploaded Image From Server","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (4)'
        type: ''
        width: 240
      height: 88
      id: '17791830743120'
      position:
        x: 761.4755911847453
        y: 177.30630525609283
      positionAbsolute:
        x: 761.4755911847453
        y: 177.30630525609283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 158
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"font-size:
          12px;","text":"User Wants:","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":1,"mode":"normal","style":"font-size:
          12px;","text":"1- try-on","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":1,"mode":"normal","style":"font-size:
          12px;","text":"2- suggestion about previous 3- try-on","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":1,"mode":"normal","style":"font-size:
          12px;","text":"other","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":1,"mode":"normal","style":"font-size:
          12px;","text":"4- Otherwise answer what user should do in the next step","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":"font-size:
          12px;"}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (5)'
        type: ''
        width: 341
      height: 158
      id: '17791830988620'
      position:
        x: 917.4494021921544
        y: 729.3847295762266
      positionAbsolute:
        x: 917.4494021921544
        y: 729.3847295762266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 341
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Check
          if user ready for try-on and have necessary files","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (6)'
        type: ''
        width: 240
      height: 88
      id: '17791832072670'
      position:
        x: 1441.4124377819444
        y: 551.8583102491214
      positionAbsolute:
        x: 1441.4124377819444
        y: 551.8583102491214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Back
          end server API Call on ","type":"text","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"/v1/workflows/run","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (7)'
        type: ''
        width: 240
      height: 88
      id: '17791832990620'
      position:
        x: 32.89759848826799
        y: 156.1127609219232
      positionAbsolute:
        x: 32.89759848826799
        y: 156.1127609219232
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Check
          if user has already requested for try-on","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (8)'
        type: ''
        width: 240
      height: 88
      id: '17791835065030'
      position:
        x: 1370.8568589878316
        y: 862.3507381111847
      positionAbsolute:
        x: 1370.8568589878316
        y: 862.3507381111847
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Fetch
          the previous try on for suggestions","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (9)'
        type: ''
        width: 240
      height: 88
      id: '17791835378310'
      position:
        x: 1744.5786073967301
        y: 755.1562156285535
      positionAbsolute:
        x: 1744.5786073967301
        y: 755.1562156285535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Ask
          user for try-on first","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (10)'
        type: ''
        width: 240
      height: 88
      id: '17791835627860'
      position:
        x: 1768.0888386707052
        y: 1111.2362173875667
      positionAbsolute:
        x: 1768.0888386707052
        y: 1111.2362173875667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Talk
          about fashion, style and user''s specific needs before try-on","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (11)'
        type: ''
        width: 240
      height: 88
      id: '17791835989150'
      position:
        x: 1382.7664958668613
        y: 1229.5804532662974
      positionAbsolute:
        x: 1382.7664958668613
        y: 1229.5804532662974
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: hsn
        desc: ''
        height: 88
        isInIteration: false
        isInLoop: false
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"Generate
          suggestion based User''s image and hist message","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: green
        title: '  (12)'
        type: ''
        width: 240
      height: 88
      id: '17791839387150'
      position:
        x: 2092.6547168069133
        y: 850.836090218666
      positionAbsolute:
        x: 2092.6547168069133
        y: 850.836090218666
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: -1499.3393809370891
      y: -790.4137008639559
      zoom: 0.9548416039104164
  rag_pipeline_variables: []
